<!--=================================
 about -->

 <section class="about white-bg page-section-ptb">
    <div class="container">
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="custom-content">
            <h2><span class="text-orange mb-20">WHO WE ARE </span> & HISTORY</h2>
            <p>Marta, the owner of La Union Restaurant, is a cook passioned who was born in Salvador. She has had an interest in culinary arts since she was very young. When Marta decided to chase the American Dream and flew to Miami, she thought to open a Salvadoran Restaurant in this City and brings to American people the culinatry culture of El Salvador.</p>
            <p>After several years of effort, she reaches her dream and opened La Union Restaurant with her husband Fulanito.</p>
            <ul>
            <li><i class="fa fa-hand-o-right"></i> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, </li>
            <li><i class="fa fa-hand-o-right"></i> lorem quis bibendum auctor, nisi elit consequat ipsum, </li>
            <li><i class="fa fa-hand-o-right"></i> nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate  </li>
            <li><i class="fa fa-hand-o-right"></i> cursus a sit amet mauris. Morbi accumsan ipsum velit. </li>
          </ul> 
          </div>
        </div>  
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true"  data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1">
             <div class="item">
               <img class="img-responsive center-block" src="images/about/01.jpg" alt="">
             </div>
             <div class="item">
               <img class="img-responsive center-block" src="images/about/02.jpg" alt="">
             </div>
          </div>
        </div>
       </div>
    </div>
  </section>
  
  <!--=================================
   about -->