<!--=================================
counter -->

<section class="parallax bg-overlay-black-80 page-section-ptb counter" style="background-image: url(images/bg/07.jpg);">
    <div class="container">
     <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-3 text-center">
        <div class="counter-block">
         <span class="glyph-icon flaticon-lemonade-with-straw text-white" aria-hidden="true"></span>
         <span class="timer text-white" data-to="3968" data-speed="10000">3968</span>
         <h5 class="text-white"><span class="text-orange">Daily</span> Customers</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center">
      <div class="counter-block">
        <span class="glyph-icon flaticon-food-66 text-white" aria-hidden="true"></span>
        <span class="timer text-white" data-to="5568" data-speed="10000">5568</span>
       <h5 class="text-white"><span class="text-orange">Best</span> Food</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center">
      <div class="counter-block">
       <span class="glyph-icon flaticon-food text-white" aria-hidden="true"></span>
       <span class="timer text-white" data-to="8908" data-speed="10000">8908</span>
       <h5 class="text-white"><span class="text-orange">Master</span> chefs</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 text-center">
      <div class="counter-block last">
        <span class="glyph-icon flaticon-hot-mug-doodle text-white" aria-hidden="true"></span>
        <span class="timer text-white" data-to="9968" data-speed="10000">9968</span>
        <h5 class="text-white"><span class="text-orange">our</span> experience</h5>
        </div>
       </div>
      </div>
     </div>
 </section>

<!--=================================
counter -->