  <!--=================================
 Our activities -->

 <section class="our-activities page-section-pb">
  <div class="container">
     <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
      <h3 class="mb-30">powerful skills</h3>
      <div class="skill-bar">
              <div class="progress-bar" data-percent="96" data-delay="0" data-type="%">
                  <div class="progress-title">HTML5</div>
              </div>
          </div>
          <div class="skill-bar">
              <div class="progress-bar" data-percent="75" data-delay="100" data-type="%">
                  <div class="progress-title">CSS3</div>
              </div>
          </div>
          <div class="skill-bar">
              <div class="progress-bar" data-percent="88" data-delay="200" data-type="%">
                  <div class="progress-title">Javascript / jQuery</div>
              </div>
          </div>
          <div class="skill-bar">
              <div class="progress-bar" data-percent="60" data-delay="300" data-type="%">
                  <div class="progress-title">PHP</div>
              </div>
          </div>
      </div>      
      <div class="col-lg-6 col-md-6 col-sm-12 pull-right"> 
       <h3 class="mb-30">Why Choose Us</h3>
         <div class="accordion">
          <div class="acd-group"> <a href="#" class="acd-heading">There are basically six key areas to higher </a>
                <div class="acd-des">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. </div>
              </div>
              <div class="acd-group"> <a href="#" class="acd-heading">Success isn’t really that difficult</a>
                <div class="acd-des">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. </div>
              </div>
              <div class="acd-group"> <a href="#" class="acd-heading">For those of you who are serious about having</a>
                <div class="acd-des">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
          </div>
        </div>
     </div>      
    </div>
 </div>
</section>

<!--=================================
our activities -->