<!--=================================
About -->

<section class="about-5 white-bg page-section-pt">
<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="section-title mb-30 text-center">
        <h2> <span class="text-orange">The Zayka:</span> Explore your hunger</h2>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
        <div class="about-content text-center">
        <p class="mb-30 col-lg-8 col-lg-offset-2">  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        <div class="about-img"><img class="img-responsive" src="images/about/03.jpg" alt=""></div>
        </div>
    </div>
    </div>
</div>
</section>

<!--=================================
About -->