<!--=================================
footer 5 -->

<footer class="footer footer-5 page-section-pt">
<div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="contact">
        <h4 class="text-black"><span class="text-orange">CONTACT</span>  US</h4>
        <p><span class="text-black">Fax: </span>(01) 123 456 7890</p>
        <p><span class="text-black">E-mail: </span>support@website.com</p>
        </div>
        <div class="location">
        <h4 class="text-black"><span class="text-orange">Our </span> Location</h4>
        <strong>Address 1</strong>
        <p>1234 North Avenue Luke, IN 360001</p>
        <strong>Address 2</strong>
        <p>1234 North Avenue Luke, IN 360001</p>
        </div>
        <div class="social-ico">
        <ul class="list-inline">
            <li><a href="#"> <i class="fa fa-facebook"></i> </a> </li>
            <li><a href="#"> <i class="fa fa-twitter"></i> </a> </li>
            <li><a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
            <li><a href="#"> <i class="fa fa-instagram"></i> </a> </li>
        </ul>
        </div>
        <p>© Designed by <a href="#"> PotenzaGlobalSolutions</a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive footer-bg" alt="" src="images/object/14.png">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="opening-time">
        <h4 class="text-black"><span class="text-orange">Open </span>  Hours</h4>
        <ul>
            <li>Mon-Friday<span class="text-right">8AM - 2PM</span></li>
            <li>Saturday <span class="text-right">10AM - 4PM</span></li>
            
            <li>Sunday   <span class="text-right">11AM - 4PM</span></li>
            <li>On public holidays   <span class="text-right">Closed</span></li>
        </ul>
        </div>
        <div class="newsletter">
        <h4 class="text-black"><span class="text-orange">Our  </span> NewsLetter</h4>
        <p>Signing up to our newsletter keeps you up-to-date!</p>
        <div class="newsletter-input">
            <input type="email" placeholder="Your email*" name="email">
            <a href="#"><i class="fa fa fa-paper-plane"></i></a>
        </div>
        </div>
    </div>
    </div>
</div>
</footer>

<!--=================================
back to top -->

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>

<!--=================================
footer -->