<!--=================================
header -->
<header id="header" class="header-5">
    <!-- mega menu -->
    <div id="menu" style="background-image: url(images/bg/10.jpg);">
        <nav id="menu-4" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <!-- menu logo -->
                <ul class="menu-logo">
                    <li></li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                    <!-- active class -->

                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about-us.html">About us</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="menu.html">Menu</a>
                    </li>
                    <li>
                        <a href="reservation.html">Reservation</a>
                    </li>
                    <li>
                        <a href="contact-us.html">Contact us</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-xs">
                <div class="logo clearfix">
                    <div class="head-info">
                        <a href="index.html">
                            <img id="logo_img" src="images/logo.svg" alt="logo"> </a>
                        <div class="head-info-content">
                            <div class="info-left pull-left">
                                <div class="time">
                                    <h6>MON – SAT</h6>
                                    <p>Lunch: 11:30 – 2:00</p>
                                    <p>Evening: 6:30 – 10:00</p>
                                </div>
                                <div class="time mt-20">
                                    <h6>SUNDAY</h6>
                                    <p>Lunch: 11:30 – 2:00</p>
                                    <p>Evening: 6:30 – 10:00</p>
                                </div>
                            </div>
                            <div class="info-right pull-right">
                                <div class="address">
                                    <p>1234 North Avenue Luke, IN 360001 </p>
                                    <p> (01) 123 456 7890 </p>
                                    <p>1234 North Avenue Luke, IN 360001 </p>
                                    <a href="#">
                                        <i class="fa fa-map-o pr-10"></i> Find us here</a>
                                    <ul class="list-inline mt-15">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-tripadvisor"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix">
                <!-- menu start -->
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- menu end -->
            </div>
        </div>
    </div>
</header>

<!--=================================
header -->