<!--=================================
slider -->

<section class="slider">
<div id="rev_slider_21_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="the-resto5" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
<div id="rev_slider_21_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
    <ul>  <!-- SLIDE  -->
    <li data-index="rs-42" data-transition="random,random-premium,random-static" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-randomtransition="on" data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="default,default,default,default"  data-thumb="revolution/assets/100x50_a23f6-img-b2.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="revolution/assets/vegetables-over-table.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-44-layer-8"
        data-x="['center','center','center','center']" data-hoffset="['-143','-142','-149','-105']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="700"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 5; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;text-transform:uppercase;">We are the </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme text-orange"
        id="slide-44-layer-9"
        data-x="['center','center','center','center']" data-hoffset="['152','152','147','108']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="1500"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; font-family:Lilita One;text-transform:uppercase;">The zayka
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-44-layer-10"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-128','-93','-62','-34']"
        data-fontsize="['30','30','30','26']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="2500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;">We provide awesome and delicious food </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-44-layer-5"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-63','-31','-1','21']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="3500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;text-align:center;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has <br>roots in a piece of classical Latin literature from 45 BC. </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption tp-resizeme  button-red-medium button"
        id="slide-44-layer-6"
        data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['462','322','210','140']"
        data-fontsize="['14','14','14','13']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
        data-style_hover=""
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="4500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 600; font-family:Open Sans;text-align:center; padding:14px 30px 14px 30px; border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Order now </div>
      
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-43" data-transition="random,random-premium,random-static" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-randomtransition="on" data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="default,default,default,default"  data-thumb="revolution/assets/100x50_0c19e-img-bg.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="revolution/assets/0c19e-img-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-43-layer-8"
        data-x="['center','center','center','center']" data-hoffset="['-143','-142','-149','-105']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="700"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 5; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;text-transform:uppercase;">We are the </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme text-orange"
        id="slide-43-layer-9"
        data-x="['center','center','center','center']" data-hoffset="['152','152','147','108']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="1500"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; font-family:Lilita One;text-transform:uppercase;">The zayka
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-43-layer-10"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-128','-93','-62','-34']"
        data-fontsize="['30','30','30','26']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="2500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;">We provide awesome and delicious food </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-43-layer-5"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-63','-31','-1','21']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="3500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;text-align:center;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has <br>roots in a piece of classical Latin literature from 45 BC. </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption tp-resizeme  button-red-medium button"
        id="slide-43-layer-6"
        data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['462','322','210','140']"
        data-fontsize="['14','14','14','13']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
        data-style_hover=""
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="4500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 600; font-family:Open Sans;text-align:center; padding:14px 30px 14px 30px; border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Order now </div>
    </li>
    <!-- SLIDE  -->
    <li data-index="rs-44" data-transition="random,random-premium,random-static" data-slotamount="default,default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"  data-randomtransition="on" data-easein="default,default,default,default" data-easeout="default,default,default,default" data-masterspeed="default,default,default,default"  data-thumb="revolution/assets/100x50_3a3e6-img-bg3.jpg"  data-rotate="0,0,0,0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
        <!-- MAIN IMAGE -->
        <img src="revolution/assets/3a3e6-img-bg3.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-45-layer-8"
        data-x="['center','center','center','center']" data-hoffset="['-143','-142','-149','-105']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="700"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 5; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;text-transform:uppercase;">We are the </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme text-orange"
        id="slide-45-layer-9"
        data-x="['center','center','center','center']" data-hoffset="['152','152','147','108']"
        data-y="['top','top','top','top']" data-voffset="['268','193','143','133']"
        data-fontsize="['56','56','56','40']"
        data-lineheight="['72','60','60','60']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power4.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-mask_in="x:0px;y:0px;"
        data-start="1500"
        data-splitin="chars"
        data-splitout="none"
        data-responsive_offset="on"
        data-elementdelay="0.05"
        style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 72px; font-weight: 400; font-family:Lilita One;text-transform:uppercase;">The zayka
        </div>
        <!-- LAYER NR. 3 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-45-layer-10"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-128','-93','-62','-34']"
        data-fontsize="['30','30','30','26']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="2500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lilita One;">We provide awesome and delicious food </div>
        <!-- LAYER NR. 4 -->
        <div class="tp-caption   tp-resizeme"
        id="slide-45-layer-5"
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['-63','-31','-1','21']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="3500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 24px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;text-align:center;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has <br>roots in a piece of classical Latin literature from 45 BC. </div>
        <!-- LAYER NR. 5 -->
        <div class="tp-caption tp-resizeme  button-red-medium button"
        id="slide-45-layer-6"
        data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['462','322','210','140']"
        data-fontsize="['14','14','14','13']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
        data-style_hover=""
        data-transform_in="y:50px;opacity:0;s:1200;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:300;"
        data-start="4500"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 600; font-family:Open Sans;text-align:center; padding:14px 30px 14px 30px; border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Order now </div>
      
    </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div><!-- END REVOLUTION SLIDER -->
</section>

<!--=================================
slider -->