 <!--=================================
 intro bg -->

 <div class="inner-intro parallax bg-overlay-black-70" style="background-image: url(images/bg/03.jpg);">
    <div class="container">
       <div class="row text-center intro-title">
             <h1 class="text-orange">Menu</h1>
             <p class="text-white">Feel the taste of our delicious food</p>
             <ul class="page-breadcrumb">
               <li><a href=""><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
               <li><a href="">pages</a> <i class="fa fa-angle-double-right"></i></li>
               <li><span>Menu</span></li>
            </ul>
        </div>
     </div>
   </div>
   
   <!--=================================
    intro bg -->