<!--=================================
 our-menu -->
 
 <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="section-title text-center">
                <div class="title-separator">
                  <i class="glyph-icon flaticon-food-27"></i>
                </div>
                <h2> <span class="text-orange">La Union </span> Breakfasts</h2>
                <p>Try our huevos rancheros</p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Huevos Rancheros</h4>
                      <span class="price">$6.75</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos Fritos</h4>
                      <span class="price">$6.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos Revueltos</h4>
                      <span class="price">$6.50</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos con Chorizo</h4>
                      <span class="price">$7.99</span>
                    </div>
                   
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos con Tomate</h4>
                      <span class="price">$6.75</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pancakes y Huevos</h4>
                      <span class="price">$6.00</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Desayuno especial con carne</h4>
                      <span class="price">$8.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pan con Huevo</h4>
                      <span class="price">$4.99</span>
                    </div>
                    
                  </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Pan con Bistec</h4>
                      <span class="price">$6.50</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pan con pechuga de pollot</h4>
                      <span class="price">$6.50</span>
                    </div>
                 
                  </div>
                </div>
               
                
               </div>
            </div>
        </div>
      </section>
        
      <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/03.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>SEAFOOD</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Pargo entero frito</h4>
                      <span class="price">$13.99</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Camarones enchilados</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Camarones al ajillo</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>Camarones a la plancha</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Tilapia Frita</h4>
                      <span class="price">$11.99</span>
                    </div>
                   
                  </div>
                </div>
               
            
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Breakfast Complete</h4>
                      <span class="price">$99.0</span>
                    </div>
                    <div class="menu-description">
                      <p>wih ice lettuce, melon and cucumber</p>
                    </div>
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>French Toast</h4>
                      <span class="price">$99.0</span>
                    </div>
                    <div class="menu-description">
                      <p>Hint of Citrus, Caramelized Sugar, Fresh Berries</p>
                    </div>
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Crêpe Complète</h4>
                      <span class="price">$99.0</span>
                    </div>
                    <div class="menu-description">
                      <p>Italian coffee drink </p>
                    </div>
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Vegetarian Breakfast</h4>
                      <span class="price">$99.0</span>
                    </div>
                    <div class="menu-description">
                      <p>Fresh Mozzarella, Basil & Balsamic Glaze</p>
                    </div>
                  </div>
                </div>
               </div>
            </div>
        </div>
      </section>