<!--=================================
 our-menu -->
 
 <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="section-title text-center">
                <div class="title-separator">
                  <i class="glyph-icon flaticon-food-27"></i>
                </div>
                <h2> <span class="text-orange">La Union </span> Breakfasts</h2>
                <p>Try our huevos rancheros</p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Huevos Rancheros</h4>
                      <span class="price">$6.75</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos Fritos</h4>
                      <span class="price">$6.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos Revueltos</h4>
                      <span class="price">$6.50</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos con Chorizo</h4>
                      <span class="price">$7.99</span>
                    </div>
                   
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Huevos con Tomate</h4>
                      <span class="price">$6.75</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pancakes y Huevos</h4>
                      <span class="price">$6.00</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Desayuno especial con carne</h4>
                      <span class="price">$8.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pan con Huevo</h4>
                      <span class="price">$4.99</span>
                    </div>
                    
                  </div>
                </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Pan con Bistec</h4>
                      <span class="price">$6.50</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pan con pechuga de pollo</h4>
                      <span class="price">$6.50</span>
                    </div>
                 
                  </div>
                </div>
               
                
               </div>
            </div>
        </div>
      </section>
        
      <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/03.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>SEAFOOD</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Pargo entero frito</h4>
                      <span class="price">$13.99</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Camarones enchilados</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Tilapia Frita</h4>
                      <span class="price">$11.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Camarones a la plancha</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Camarones al ajillo</h4>
                      <span class="price">$13.50</span>
                    </div>
                    
                  </div>
                </div>
       
              
             
             </div>
             
            </div>
        </div>
      </section>
       <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/pupusas.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>PUPUSAS</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Pupusa de loroco y Queso</h4>
                      <span class="price">$2.75</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pupusa de chicharron, frijol y queso</h4>
                      <span class="price">$2.75</span>
                    </div>
                    
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pupusa revuelta con queso y chicharron</h4>
                      <span class="price">$2.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pupusa con frijol y queso</h4>
                      <span class="price">$2.50</span>
                    </div>
                    
                  </div>
                </div>
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pupusa de queso</h4>
                      <span class="price">$2.50</span>
                    </div>
                    
                  </div>
                </div>
       
              
             
             </div>
             
            </div>
        </div>
      </section>
       <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/tamal.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>ANTOJITOS</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Maduros con crema de frijol</h4>
                      <span class="price">$5.00</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Tacos fritos de pollo</h4>
                      <span class="price">$6.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Tamal de Elote</h4>
                      <span class="price">$2.99</span>
                    </div>
                    
                  </div>
                </div>
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Yuca frita</h4>
                      <span class="price">$5.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Yuca con chicharron</h4>
                      <span class="price">$6.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Tamal de gallina</h4>
                      <span class="price">$2.75</span>
                    </div>
                    
                  </div>
                </div>
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Enchiladas de carne</h4>
                      <span class="price">$5.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Enchiladas de pollo</h4>
                      <span class="price">$5.50</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Chicharrones</h4>
                      <span class="price">$3.99</span>
                    </div>
                    
                  </div>
                </div>
       
              
             
             </div>
             
             
            </div>
        </div>
      </section>
      <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/lechuga.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>ENSALADAS</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Ensalada mixta</h4>
                      <span class="price">$4.99</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Ensalada de pollo</h4>
                      <span class="price">$7.99</span>
                    </div>
                    
                  </div>
                </div>
             
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Ensalada de lechuga</h4>
                      <span class="price">$3.99</span>
                    </div>
                    
                  </div>
                </div>
             
         
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Ensalada de pollo con papas</h4>
                      <span class="price">$4.99</span>
                    </div>
                    
                  </div>
                </div>
             </div>
            </div>
        </div>
      </section>
        <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/carne.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>CARNES</h2>
              <p >Dos Acompañantes: Arroz, frijoles o ensalada</p>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Steak Salvadoreño</h4>
                      <span class="price">$13.99</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Steak Encebollado</h4>
                      <span class="price">$12.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Lomo de cerdo a la plancha</h4>
                      <span class="price">$11.00</span>
                    </div>
                    
                  </div>
                </div>
             
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Churrasco</h4>
                      <span class="price">$15.00</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Pechuga de pollo a la plancha</h4>
                      <span class="price">$10.50</span>
                    </div>
                    
                  </div>
                </div>
             
         
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Carne asada</h4>
                      <span class="price">$11.99</span>
                    </div>
                
             </div>
            </div>
            <div class="menu-body menu-left simple menu-white">
              <div class="menu-details">
                <div class="menu-title clearfix">
                  <h4>Fajitas de pollo</h4>
                  <span class="price">$11.50</span>
                </div>
            
          </div>
        </div>
        </div>
      </section>
        <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/launion.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>PLATO LA UNION</h2>
              
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-4 col-sm-12">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Carne asada, pechuga de pollo, frijoles, arroz, chorizo, ensalada y pupusa.</h4>
                      <span class="price">$16.99</span>
                    </div>
                   
                  </div>
                </div>
                
                
             
               </div>
      </section>
          <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/sopa.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>SOPAS</h2>
              <p >Acompañadas con arroz y tortilla</p>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Sopa de res</h4>
                      <span class="price">Mediana: $5.50</span><br/>
                      <span class="price">Grande $7.99</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Sopa de pollo</h4>
                      <span class="price">Mediana: $4.99</span><br/>
                      <span class="price">Grande $6.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Sopa de gallina</h4>
                      <span class="price">Mediana: $5.00</span><br/>
                      <span class="price">Grande $7.99</span>
                    </div>
                    
                  </div>
                </div>
             
               </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Sopa de cangrejo</h4>
                      <span class="price">Mediana: $5.00</span><br/>
                      <span class="price">Grande $7.99</span>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Sopa de mondongo</h4>
                      <span class="price">Mediana: $5.99</span><br/>
                      <span class="price">Grande $7.99</span>
                    </div>
                    
                  </div>
                </div>
             
         
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Mariscada Salvadoreña</h4>
                      <span class="price">Mediana: $11.99</span><br/>
                      <span class="price">Grande $15.99</span>
                    </div>
                
             </div>
            </div>
            <div class="menu-body menu-left simple menu-white">
              <div class="menu-details">
                <div class="menu-title clearfix">
                  <h4>Mariscada Salvadoreña con coco</h4>
                  <span class="price">Mediana: $12.99</span><br/>
                  <span class="price">Grande $16.99</span>
                </div>
            
          </div>
        </div>
        </div>
      </section>
        <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/jugos.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>BEBIDAS</h2>
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Jugo natural de horchata</h4>
                      <span class="price"> $2.99</span><br/>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Jugo natural de mora</h4>
                      <span class="price"> $2.75</span><br/>
                    </div>
                    
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Jugo natural de maracuya</h4>
                      <span class="price">$2.75</span><br/>
                    </div>
                    
                  </div>
                </div>
             
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="menu-body menu-left simple menu-white">
                <div class="menu-details">
                  <div class="menu-title clearfix">
                    <h4>Jugo natural de maracuya</h4>
                    <span class="price">$2.75</span><br/>
                  </div>
                  
                </div>
              </div>
              <div class="menu-body menu-left simple menu-white">
                <div class="menu-details">
                  <div class="menu-title clearfix">
                    <h4>Jugo natural de naranja</h4>
                    <span class="price">$3.50</span><br/>
                  </div>
                  
                </div>
              </div>
              <div class="menu-body menu-left simple menu-white">
                <div class="menu-details">
                  <div class="menu-title clearfix">
                    <h4>Jugo natural de naranja y zanahoria</h4>
                    <span class="price">$4.50</span><br/>
                  </div>
                  
                </div>
              </div>
              <div class="menu-body menu-left simple menu-white">
                <div class="menu-details">
                  <div class="menu-title clearfix">
                    <h4>Jugo natural de guanabana</h4>
                    <span class="price">$2.99</span><br/>
                  </div>
              
            </div>
          </div>
           
             </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
               
         
                
               
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                      <h4>Limonada</h4>
                      <span class="price">$3.00</span><br/>
                    </div>
                
             </div>
            </div>
            <div class="menu-body menu-left simple menu-white">
              <div class="menu-details">
                <div class="menu-title clearfix">
                  <h4>Jugo natural de tamarindo</h4>
                  <span class="price">$2.75</span><br/>
                </div>
            
          </div>
        </div>
        <div class="menu-body menu-left simple menu-white">
          <div class="menu-details">
            <div class="menu-title clearfix">
              <h4>Jugo natural de marañon</h4>
              <span class="price">$2.99</span><br/>
            </div>
        
      </div>
    </div>
        </div>
        <div class="menu-body menu-left simple menu-white">
          <div class="menu-details">
            <div class="menu-title clearfix">
             <h4>Jugos enlatados</h4>
             <span class="price"> $1.99</span><br/>
           </div>
          
         </div>
       </div>
       <div class="menu-body menu-left simple menu-white">
         <div class="menu-details">
           <div class="menu-title clearfix">
             <h4>Gatorade</h4>
             <span class="price"> $2.50</span><br/>
           </div>
           
         </div>
       </div>
       <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Agua embotellada</h4>
            <span class="price"> $1.50</span><br/>
          </div>
          
        </div>
      </div>
      <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Sodas importadas</h4>
            <span class="price"> $2.50</span><br/>
          </div>
          
        </div>
      </div>
      <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Sodas enlatadas</h4>
            <span class="price"> $1.00</span><br/>
          </div>
          
        </div>
      </div>
      <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Soda Jupina</h4>
            <span class="price"> $1.99</span><br/>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="menu-body menu-left simple menu-white">
         <div class="menu-details">
           <div class="menu-title clearfix">
            <h4>Cafe con leche</h4>
            <span class="price"> $1.99</span><br/>
          </div>
         
        </div>
      </div>
      <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Cafe americano</h4>
            <span class="price"> $1.50</span><br/>
          </div>
          
        </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="menu-body menu-left simple menu-white">
      <div class="menu-details">
        <div class="menu-title clearfix">
          <h4>Cafe capuchino</h4>
          <span class="price">$2.50</span><br/>
        </div>
        
      </div>
    </div>
    <div class="menu-body menu-left simple menu-white">
      <div class="menu-details">
        <div class="menu-title clearfix">
          <h4>Cafe listo</h4>
          <span class="price">$1.99</span><br/>
        </div>
        
      </div>
    </div>
   </div>
     <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="menu-body menu-left simple menu-white">
        <div class="menu-details">
          <div class="menu-title clearfix">
            <h4>Chocolate caliente</h4>
            <span class="price">$2.50</span><br/>
          </div>
          
        </div>
      </div>

        
      </section>
        <!--=================================
        menu -->
      
      <!--=================================
        menu-list-bg -->
      
        <section class="menu-list-bg bg-overlay-black-70" style="background-image: url(images/bg/dulce.jpg);">
          <div class="container text-center">
            <div class="row content-text">
              <h2>POSTRES</h2>
              
            </div>
          </div>
        </section>
      
        <!--=================================
        menu-list-bg -->
      
       <section class="our-menu page-section-pt mb-20">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-4 col-sm-12">
                  <div class="menu-body menu-left simple menu-white">
                   <div class="menu-details">
                     <div class="menu-title clearfix">
                      <h4>Flan</h4>
                      <span class="price">$3.50</span>
                    </div>
                   
                  </div>
                </div>
                <div class="menu-body menu-left simple menu-white">
                  <div class="menu-details">
                    <div class="menu-title clearfix">
                     <h4>Empanada de platano</h4>
                     <span class="price">$2.99</span>
                   </div>
                  
                 </div>
               </div>
               <div class="menu-body menu-left simple menu-white">
                <div class="menu-details">
                  <div class="menu-title clearfix">
                   <h4>Nuegados de Yuca</h4>
                   <span class="price">$2.50</span>
                 </div>
                
               </div>
             </div>
                
                
             
               </div>
      </section>
      